atomicwrites==1.2.1
attrs==18.1.0
bottle==0.12.16
certifi==2018.8.24
chardet==3.0.4
Click==7.0
dataset==1.1.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
normality==1.0.0
oauthlib==2.1.0
pep8==1.7.1
pluggy==0.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.6.1
py==1.10.0
PySocks==1.6.8
pytest==3.7.4
requests==2.20.0
requests-oauthlib==1.0.0
six==1.11.0
SQLAlchemy==1.2.11
urllib3==1.23
Werkzeug==0.14.1
